.mobileRoad {
	margin-left: 62px;
	&_point {
		margin-left: 62px;
		width: 16px !important;
		height: 16px !important;
		border-radius: 50%;
		position: absolute;
		background: #309c54;
		top: 0;
		left: 0;
		offset-path: path(
			"M191.5,-0.000131185C195.5,73.4999 174.2,96.1088 81,96.1088C38.5,96.1088 1.99998,124.5 1.99998,179.984L1.99998,183.445C1.99998,257.5 75.2324,265.5 93,265.5L175.5,267.844C215,267.844 256.498,286.5 256.498,352.662L256.498,356.124C256.498,408.5 215,435.364 171.5,435.364L111,435.364C72.5,435.364 23,452.527 24,520.027L24,523.5C24,592 96.7323,602 123,602L335,602"
		);
	}
}
