.road {
  &__inner {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-bottom: 212px;
    &_station {
      position: absolute;
      display: grid;
      align-items: center;
      gap: 144px;
      grid-template-columns: 202px 1fr;
      opacity: 0.1;
      transition: opacity 1s ease-out;
      & h1 {
        color: #1e1e1c;
        font-size: 40px;
        font-family: Montserrat;
        font-weight: 700;
      }
      & p {
        color: #1e1e1c;
        font-size: 20px;
        font-family: Montserrat;
      }

      &:nth-child(even) {
        grid-template-columns: auto 1fr;
      }
      &:nth-child(2) {
        left: -20px;
        top: 220px;
      }
      &:nth-child(3) {
        right: 100px;
        top: 480px;
      }
      &:nth-child(4) {
        left: 210px;
        top: 754px;
        & > div {
          max-width: 205px;
        }
      }
      &:nth-child(5) {
        right: 0;
        bottom: -112px;
        gap: 0;
        margin-right: 154.5px;
      }
    }
  }
}

@media screen and (max-width: 1143px) {
  .road {
    &__inner {
      position: relative;
      width: fit-content;
      margin: auto;
      margin-bottom: 212px;
      // & > div {
      // 	&:first-child {
      // 		& > svg {
      // 			margin-left: 40px;
      // 			width: 821px;
      // 			height: auto;
      // 		}
      // 	}
      // }
      &_station {
        gap: 20px;
        & h1 {
          font-size: 36px;
        }

        &:nth-child(even) {
          grid-template-columns: auto 1fr;
        }
        &:nth-child(2) {
          left: 190px;
          top: 200px;
           img {

            width: 64.7px !important;
            height: 89px !important;
          }
        }
        &:nth-child(3) {
          right: 170px;
          top: 450px;
          img {
            width: 96px !important;
            height: 96px !important;
          }
        }
        &:nth-child(4) {
          left: 180px;
          top: 685px;
          & > div {
            max-width: 205px;
          }
           img {
            width: 94px !important;
            height: 94px !important;
          }
        }
        &:nth-child(5) {
          right: 55px;
          bottom: -92.5px;
          gap: 0;
          margin-right: 0;
          img {
            width: 80px !important;
            height: 80px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .road {
    &__inner {
      margin-bottom: 176px;
      & > div {
        &:first-child {
          position: relative;
          // & > svg {
          // 	margin-left: 40px;
          // 	width: 821px;
          // 	height: auto;
          // }
          &_desktop {
            &_box {
              width: 5px !important;
              height: 5px !important;
              border-radius: 50%;
              position: absolute;
              background: #309c54;
              top: 0;
              left: 0;
              offset-path: path(
                              "M385.312 0.000105316L385.312 42.9114C385.312 80.5001 385.312 99.1593 351.88 99.1593L129.64 99.1594C42.9595 99.1594 -3.04016 195.5 2.45959 279.295L2.45959 283.027C2.45959 356.5 62.9594 440 129.64 442.175L599.46 442.175C648.188 442.175 680.54 462.805 680.54 526.5L680.54 530.232C680.54 580.428 680.54 636.5 614.731 636.5L371.184 636.5C325.459 636.5 250.959 658.5 250.959 804.756L250.959 808.5C250.959 913.896 316.959 966.963 371.22 966.963L994.46 966.963"
              );
            }
          }
        }
      }
      &_station {
        gap: 15px !important;
        & h1 {
          font-size: 20px;
        }
        & p {
          font-size: 16px;
        }

        &:nth-child(even) {
          grid-template-columns: 1fr 190px !important;
        }
        &:nth-child(2) {
          left: 101px !important;
          top: 140px !important;
           img {
            width: 53.1px !important;
            height: 73px !important;
          }
        }
        &:nth-child(3) {
          right: 100px !important;
          text-align: right;
          top: 315px !important;
           img {
            min-width: 76px !important;
            height: 76px !important;
          }
        }
        &:nth-child(4) {
          left: 115px !important;
          top: 475px !important;
          img {
            width: 76px !important;
            height: 76px !important;
          }
        }
        &:nth-child(5) {
          // left: 55px !important;
          // top: 475px !important;
          text-align: right;
          margin-right: 0px;
          img{
            width: 76px !important;
            height: 76px !important;
          }
        }
      }
    }
  }
}