.fullRoad {
	margin-left: 90px;
	&_point {
		&_left {
			margin-left: 90px;
			width: 16px !important;
			height: 16px !important;
			border-radius: 50%;
			position: absolute;
			background: #309c54;
			top: 0;
			left: 0;
			offset-path: path(
				"M385.312 0.000105316L385.312 42.9114C385.312 80.5001 385.312 99.1593 351.88 99.1593L129.64 99.1594C42.9595 99.1594 -3.04016 195.5 2.45959 279.295L2.45959 283.027C2.45959 356.5 62.9594 440 129.64 442.175L599.46 442.175C648.188 442.175 680.54 462.805 680.54 526.5L680.54 530.232C680.54 580.428 680.54 636.5 614.731 636.5L371.184 636.5C325.459 636.5 250.959 658.5 250.959 804.756L250.959 808.5C250.959 913.896 316.959 966.963 371.22 966.963L994.46 966.963"
			);
		}
		&_right {
			margin-left: 90px;
			width: 16px !important;
			height: 16px !important;
			border-radius: 50%;
			position: absolute;
			background: #309c54;
			top: 0;
			left: 0;
			offset-path: path(
				"M467.811 2.00011L467.811 44.9121C465.459 128.5 446.959 182.5 372.959 180.5L215.959 180.5L142.959 180.5C97.4595 180.5 78.7676 219 78.9594 271.332L78.9594 275.064C78.9594 325.26 108.959 364.084 143.767 364.084L617.86 364.084C694.06 364.084 756.04 407 756.04 561.732L756.04 561.964C756.04 664.5 715.159 706.999 638.959 706.999L394.311 706.999C328.515 706.999 320.459 776.184 320.459 800.44L320.459 807.5C320.459 861.5 348.959 899.5 394.311 899.5L991.589 899.5"
			);
		}
	}
}
