.tabletRoad {
	margin-left: 90px;
	&_point {
		&_left {
			margin-left: 90px;
			width: 16px !important;
			height: 16px !important;
			border-radius: 50%;
			position: absolute;
			background: #309c54;
			top: 0;
			left: 0;
			offset-path: path(
				"M319.081 4.71751e-05L319.081 39.8066C319.081 74.6755 319.081 91.9848 291.424 91.9848L107.576 91.9848C35.8694 91.9848 -2.18393 181.355 2.36575 259.087L2.36575 262.549C2.36575 330.706 44.4999 402.5 117.5 400.182L484 400.182C542 400.182 563.309 429.319 563.309 488.406L563.309 491.868C563.309 538.432 563.309 590.447 508.869 590.447L321 590.447C269.5 590.447 207.938 600.855 207.938 736.529L207.938 740.002C207.938 837.772 268.5 877 321 877L823 877"
			);
		}
		&_right {
			margin-left: 90px;
			width: 16px !important;
			height: 16px !important;
			border-radius: 50%;
			position: absolute;
			background: #309c54;
			top: 0;
			left: 0;
			offset-path: path(
				"M386.689 2.00005L386.689 41.7803C384.744 119.268 369.44 163.327 308.221 161.473L178.338 161.473L135 161.473C81.4999 161.473 64.8421 203.163 65.0009 251.676L65.0009 255.136C65.0009 301.668 88.4999 337.659 125 337.659L510.822 337.659C573.861 337.659 625.136 377.443 625.136 520.883L625.136 521.098C621 604 581 644.548 516 644.548L343 644.548C264.789 644.548 264.789 699.5 264.789 732.169L264.789 738.714C264.789 787.5 286 824 343 824L820 824"
			);
		}
	}
}
